{
  "endOfLine": "auto",
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "importOrder": [
    "^@utils/(.*)$",
    "^@api/(.*)$",
    "^@hooks/(.*)$",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
